.user {
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
  .title {
    height: 100px;
    font-size: 26px;
    line-height: 100px;
    font-weight: bold;
  }
  .left {
    display: inline-block;
    width: 500px;
    height: 600px;
    border: 1px solid green;
    margin-top: 20px;
    .partA {
      width: 100%;
      height: 140px;
      border: 1px solid pink;
    }
    .partB {
      width: 100%;
      height: 140px;
      border: 1px solid blue;
      margin-top: 10px;
    }
    .partC {
      width: 100%;
      height: 140px;
      border: 1px solid orange;
      margin-top: 10px;
    }
  }
}